<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IwsSeguridad" />
                <binding name="BasicHttpBinding_IwsParametricas" />
                <binding name="BasicHttpBinding_IwsVentas" />
                <binding name="BasicHttpBinding_IwsReporteCierreVentas" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://181.188.175.133:9801/Modulos/Seguridad/wsSeguridad.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsSeguridad"
                contract="wsSeguridadSOAT.IwsSeguridad" name="BasicHttpBinding_IwsSeguridad" />
            <endpoint address="http://181.188.175.133:9801/Modulos/Parametricas/wsParametricas.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsParametricas"
                contract="wsParametricasUNIVIDA.IwsParametricas" name="BasicHttpBinding_IwsParametricas" />
            <endpoint address="http://181.188.175.133:9801/Modulos/ReporteCierreVentas/wsReporteCierreVentas.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsReporteCierreVentas"
                contract="wsReporteCierreVentas.IwsReporteCierreVentas" name="BasicHttpBinding_IwsReporteCierreVentas" />
            <endpoint address="http://181.188.175.133:9801/Modulos/Ventas/wsVentas.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsVentas"
                contract="wsVentasUNIVIDA.IwsVentas" name="BasicHttpBinding_IwsVentas" />
        </client>
    </system.serviceModel>
</configuration>