<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="puerto" value="3033" />
    <add key="idle_time" value="60000"/>
    <add key="sleep_threads" value="1"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IwsSeguridad" />
                <binding name="BasicHttpBinding_IwsParametricas" />
                <binding name="BasicHttpBinding_IwsVentas" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://181.188.175.133:9801/Modulos/Seguridad/wsSeguridad.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsSeguridad"
                contract="wsSeguridad.IwsSeguridad" name="BasicHttpBinding_IwsSeguridad" />
            <endpoint address="http://181.188.175.133:9801/Modulos/Parametricas/wsParametricas.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsParametricas"
                contract="wsParametricas.IwsParametricas" name="BasicHttpBinding_IwsParametricas" />
            <endpoint address="http://181.188.175.133:9801/Modulos/Ventas/wsVentas.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsVentas"
                contract="wsVentas.IwsVentas" name="BasicHttpBinding_IwsVentas" />
        </client>
    </system.serviceModel>
</configuration>